body {
    background-image: url('images/backmenu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#menuOptions {
    margin-top: 20px;
}

button {
    margin: 10px;
    padding: 30px 50px;
    background-color: #fcfcfc;
    color: rgb(163, 15, 156);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c5c9ce;
}
