body {
    background-image: url('images/background.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    height: 100vh; /* Ajusta la altura del body al 100% del viewport height */
    margin: 0; /* Elimina el margen por defecto del body */
}

#loginContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginLink {
    position: absolute;
    top: 460px;
    right: 1325px;
    cursor: pointer;
}

#loginForm {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#arrow {
    width: 100px;
    height: auto;
}


