/* Estilos generales del body */
body {
    font-family: Arial, sans-serif;
    background: url('images/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative; /* Posición relativa para que los elementos absolutos se posicionen correctamente */
    color: #ffffff; /* Color de texto*/
}

/* Contenedor principal para centrar contenido verticalmente */
.container {
    display: flex; /* Uso de flexbox para centrar contenido verticalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Altura del 100% del viewport */
}

/* Espacio entre los elementos del formulario */
.form-group {
    margin-bottom: 15px; /* Espacio entre los grupos de formularios */
}

/* Etiquetas de formulario */
label {
    display: block; /* Muestra las etiquetas en bloque */
    margin-bottom: 5px; /* Espacio inferior */
    font-weight: bold; /* Texto en negrita */
}

/* Estilo común para inputs de texto y password */
input[type="text"],
input[type="password"] {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espacio dentro del input */
    font-size: 16px; /* Tamaño de fuente */
    border: 1px solid #ffffff; /* Borde de 1px */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

/* Botones de envío */
button[type="submit"] {
    background-color: #ffffff; /* Fondo blanco */
    color: #545454; /* Color de texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno */
    cursor: pointer; /* Cursor de puntero */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 4px; /* Bordes redondeados */
}

/* Efecto hover en botones */
button[type="submit"]:hover {
    background-color: #e6e6e67a; /* Cambio de color de fondo al pasar el ratón */
}

/* Estilos específicos para el menú */
#menu {
    position: absolute; /* Posición absoluta */
    top: 50px; /* 50px desde la parte superior */
    right: 50px; /* 50px desde la derecha */
    width: 80%; /* Ancho del 80% del contenedor padre */
    max-width: 300px; /* Ancho máximo de 300px */
    background-color: #545454; /* Fondo */
    padding: 20px; /* Relleno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    display: none; /* Inicialmente oculto */
}

#menu h3 {
    text-align: center; /* Texto centrado */
}

#menu h4 {
    margin-top: 20px; /* Margen superior */
}

#menu ul {
    list-style-type: none; /* Lista sin puntos */
    padding: 0; /* Sin relleno */
}

#menu ul li {
    margin-bottom: 10px; /* Espacio entre elementos de lista */
}

#menu ul li a {
    color: #ffffff; /* Color de texto */
    text-decoration: none; /* Sin subrayado */
}

#menu ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilos específicos para los formularios de login y registro */
#loginForm,
#registerForm {
    position: absolute; /* Posición absoluta */
    top: 54%; /* 50% desde la parte superior */
    left: 30%; /* 50% desde la izquierda */
    transform: translate(-50%, -50%); /* Centrado horizontal y vertical */
    width: 80%; /* Ancho del 80% del contenedor padre */
    max-width: 600px; /* Ancho máximo de 300px */
    background-color: #545454; /* Fondo */
    padding: 20px; /* Relleno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

#registerForm {
    display: none; /* Inicialmente oculto */
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column; /* Columna en dispositivos móviles */
        height: auto; /* Altura automática */
    }

    #loginForm,
    #registerForm,
    #menu {
        width: 100%; /* Ancho completo */
        max-width: none; /* Sin ancho máximo */
        left: 50%; /* 50% desde la izquierda */
        transform: translateX(-50%); /* Centrado horizontal */
    }
}
